:host {
  display: block;
  padding: 0 10%;
}

#title {
  margin: 50px 0;
  text-align: center;
  font-weight: 700;
  color: #003e5e;
}

.user {
  font-weight: 500;
  font-size: 20px;
  gap: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #0176ab;
  margin: -0.5px;
  height: max-content;
  color: #003e5e;
}

#table {
  display: flex;
  flex-direction: column;
}

.details-button {
  font-size: 14px;
  border: none;
  background-color: #00acf8;
  color: #f7f7f8;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.details-button:hover {
  background-color: #0176ab;
  transition: all 0.3s;
}

#description {
  margin-bottom: 50px;
  text-align: center;
  color: #003e5e;
}

@media (min-width: 1024px) {
  #table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-collapse: collapse;
    justify-content: center;
  }
}
