.container {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
  padding: 40px 10%;
  justify-content: center;
}

.card {
  background-color: #51a1e6;
  border-radius: 10px;
  padding: 20px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  background-color: #51a1e6;
  color: #f7f7f8;
  margin-bottom: 20px;
}

.body {
  font-size: 15px;
  font-weight: 400;
  background-color: #51a1e6;
  color: #f7f7f8;
}

@media (min-width: 1024px) {
  .container {
    padding: 40px 25%;
  }

  .card {
    border-radius: 15px;
    width: 40%;
  }
}
